<a routerLink="/addexpense">Add Expense</a>
<input type="text"
        [(ngModel)]="filters.keyword"
        name="keyword"
        (input)="listExpenses()"
        >
<div *ngFor="let expense of expenses">
  <h3>{{expense.expense}}</h3>
  <p>{{expense.amount | currency: 'INR'}}</p>
  <p>{{expense.description}}</p>
  <a routerLink="/addexpense/{{expense.id}}">Edit</a>

</div>
